<app-navbar></app-navbar>
<div id="body">
  <h1 class="title">Equipos Registrados</h1>
<!--SEARCH TEAM-->>
<form class="form-inline justify-content-center">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  [(ngModel)]="searchTeam" class="search_input" type="search" name="search"  placeholder="Search...">
          <a href="/listTeams" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </form>


    <div class="text-center" [@fadeIn]>
        <br>
        <!--CARD de TEAM-->
        <div class="card myWidth text-white" *ngFor="let team of teams | searchTeam:searchTeam">
            <img src="../../../assets/img/equipo-de-futbol.png" width="100rem" height="100rem" class="img-fluid" alt=".">
              <div class="card-body">
                  <h5 class="card-title">{{team.name}}</h5>
                  <button (click)='getTeam(team._id)' type="button" class="btn btn-danger  btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModalDos">
                      Delete
                    </button>
              </div>
          </div>
    </div>
  </div>