<app-navbar></app-navbar>
<div id="body">
  <h1 class="title">Equipos Registrados</h1>
<!--SEARCH TEAM-->>
<form class="form-inline justify-content-center">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  [(ngModel)]="searchTeam" class="search_input" type="search" name="search"  placeholder="Search...">
          <a href="/listTeams" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </form>

  <!--BUTTOM SAVE-->>
  <div class="container">
    <div class="row">
      <div class="saveButton">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/img/league.png" width="100rem" height="100rem" alt="">
            Save Team
          </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">Save a New League</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--cuerpo-->
          <!--Formulario de registro Team-->
<div class="formulario">
    <form  class="form-signin" #createTeam = "ngForm" (ngSubmit) = "onSubmit(createTeam)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name Team</label>
            <input [(ngModel)]="teamSelected.name"  name="name" #name="ngModel" class="form-control" type="text" id="inputName" placeholder="Team name" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
            <button type="submit" class="btn btn-success" [disabled]="!createTeam.form.valid">SAVE</button >
          </div>
      </form>
</div>
          <!-- fin cuerpo-->
        </div>
      </div>
    </div>
  </div>
  <!--FIN SAVE-->

    <div class="text-center" [@fadeIn]>
        <br>
        <!--CARD de TEAM-->
        <div class="card myWidth text-white" *ngFor="let team of teams | searchTeam:searchTeam">
            <img src="../../../assets/img/soccer-ball.png" width="100rem" height="100rem" class="img-fluid" alt=".">
              <div class="card-body">
                  <h5 class="card-title">{{team.name}}</h5>
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalDos">
                      Delete
                    </button>
              </div>
          </div>
    </div>
  </div>
