<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="../../../assets/img/soccer-field.png" alt="" width="60" height="">
  </a>
    <!--btn responsive-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item" *ngIf="token == null"> 
          <a class="nav-link" routerLink="/login">Login</a> 
          </li>

          </ul> 
          <ul class="navbar-nav ml-auto" *ngIf="token != null">
            <li><a class="nav-link" (click)="logOut()">Log Out</a></li>
            <li class="nav-text">
              <a class="nav-link" routerLink="/user" *ngIf="user.role == 'ROLE_ADMIN' || user.role == 'ROLE_USER'">{{user.username}}</a>
            </li>
            <li>
              <img *ngIf="user.image" id="imgUser" src="{{uri+'uploadImage/'+user.image}}" alt="user image">
            </li>
          </ul>
    </div>
  </div>
</nav>