<app-navbar></app-navbar>
 <div id="encabezado">
    <h1 class="text-center h1">USUARIOS</h1>
 </div>

<div class="body">

  <form class="form-inline justify-content-center">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  [(ngModel)]="search" class="search_input" type="search" name="search"  placeholder="Search...">
          <a href="/listUsers" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </form>

    <div id="cards">
        
        <hr>
        <div class="card myWidth" *ngFor="let user of users | search:search">
            <img src="../../../assets/img/soccer-player.png" width="100rem" height="100rem" class="img-fluid" alt=".">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.username}}</p>
              <button type="button" class="btn btn-danger col-lg-3 mx-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete 
              </button>
              <button type="button" class="btn btn-warning col-lg-3 mx-8" data-bs-toggle="modal" data-bs-target="#exampleModalDos">
                Update
              </button>
            </div>
          </div>
          
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">
          One click to delete your account!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mt-5 mb-3 text-muted">Are you shure to delte your account?</span>
            <h3>This action is irreversible!</h3>
            <span>Enter your password to continue</span>
            <form #formRemove="ngForm">
                <label for="passwordRemoved"></label>
              
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" [disabled]="!formRemove.form.valid" >I'm sure</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalDos" tabindex="-1" aria-labelledby="exampleModalDosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">
          One click to delete your account!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mt-5 mb-3 text-muted">Are you shure to delte your account?</span>
            <h3>This action is irreversible!</h3>
            <span>Enter your password to continue</span>
            <form #formRemove="ngForm">
                <label for="passwordRemoved"></label>
              
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" [disabled]="!formRemove.form.valid" >I'm sure</button>
      </div>
    </div>
  </div>
</div>