<app-navbar></app-navbar>
<div class="body">
  <div id="cards">
    <h1 class="title">Torneos Registrados</h1>
    <br>
<!--Search button-->
    <form class="form-inline justify-content-center">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input  [(ngModel)]="searchLeague" class="search_input" type="search" name="searchLeague"  placeholder="Search...">
          <a href="/listLeagues" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="saveButton">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/img/league.png" width="100rem" height="100rem" alt="">
            Save league
          </button>
      </div>
    </div>
  </div>

  <button  type="button" class="btn btn-warning">
    <a href="/result" class="btn btn-primary">results!</a>
    </button>

    <hr>
    <div class="card myWidth text-white" *ngFor="let league of leagues | searchLeague:searchLeague">
      <img src="../../../assets/img/soccer-ball.png" width="100rem" height="100rem" class="img-fluid" alt=".">
        <div class="card-body">
            <h5 class="card-title">{{league.name}}</h5>
            <button (click)='getLeague(league._id)' type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalDos">
                Delete
              </button>
        </div>
    </div>
      <!--INICIO SAVE-->
      <!-- Button trigger modal -->
      
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">Save a New League</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--cuerpo-->
          <form  class="form-signin" #createLeague = "ngForm" (ngSubmit) = "onSubmit(createLeague)">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name League</label>
                <input [(ngModel)]="leagueSelected.name"  name="name" #name="ngModel" class="form-control" type="text" id="inputName" placeholder="League name" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                <button type="submit" class="btn btn-success" [disabled]="!createLeague.form.valid">SAVE</button >
              </div>
          </form>
          <!-- fin cuerpo-->
        </div>
      </div>
    </div>
  </div>
  <!--FIN SAVE-->

<!-- MODAL DELETE-->
<div class="modal fade" id="exampleModalDos" tabindex="-1" aria-labelledby="exampleModalDosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalDosLabel">
          One click to delete your League!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mt-5 mb-3 text-muted">Are you shure to delte your league?</span>
            <h3>{{leagueSelected.name}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger ripple-surface" (click)="deleteLeague()">I'm sure</button>
      </div>
    </div>
  </div>
</div>


</div>
</div>

