table{
    width:720px;
    margin:0 auto;
    color:white;
    text-align:center;
  }
  tr{
    cursor:pointer;
  }
  .destacado{
    font-family:Arial;
    font-weight:bold;
    background-color:#0D6859;
  }
  .fondo1{
    background-color:#7AB318;
  }
  .fondo1:hover{
    color:black;
    background-color:#00aa00;
  }
  .fondo2{
     background-color:#A0C55E;
  }
  .fondo2:hover{
    color:black;
    background-color:#007700;
  }
  body{
    background-color:#0F3E76;
  }